// base

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: black;
  color: white;
  margin: 0;
}

.screen {
  margin: 0 5vw;
  width: 90vw;
  height: 100vh;
  border-radius: $text-size;
  filter: blur(1px);
  overflow-y: hidden;
}

.textwrap {
  text-align: center;
  width: 100%;
  height: 100%;
  animation: flicker 5s infinite,
              twitch 3s infinite,
              bump 2s infinite alternate-reverse;
}

.tvtext {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 100%;
  // padding-top: $text-size;
  
}

.r { 
  margin-left: -$seperation;
}

.g { 
  margin-top: $seperation * 0.8;
}

.b { 
  margin-left: $seperation;
}

.w {
}

.w-l {
  background-color: black;
  margin-left: (-$seperation * 2);
  animation: clip 2s infinite linear alternate-reverse,
}

.w-r {
  background-color: black;
  margin-left: ($seperation * 2);
  animation: clip 2s infinite linear alternate-reverse;
}

.crtlines {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    transparent 0.1rem, 
    rgba(0,0,0,.2) 0.05rem);
  background-size: 1px 4px;
  z-index: 1;
  animation: scan 50s infinite,
              twitch 3s infinite;
}
