// base

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: black;
  color: white;
  margin: 0;
  font-family: $sansserif;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

.screen {
  margin: 0 5vw;
  padding: 0 5vw;
  width: 90vw;
  height: 100vh;
  border-radius: $text-size;
  filter: blur(1px);
}

.textwrap {
  position: relative;
  animation: flicker 7s infinite,
              twitch 3s infinite;
}

.tvtext {
  position: absolute;
  display: inline-block;
  padding-top: 20vh;
  
}

.r { 
  margin-left: -$seperation;
}

.g { 
  margin-top: $seperation * 0.6;
}

.b { 
  margin-right: -$seperation;
}

.crtlines {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    transparent 0.1rem, 
    rgba(0,0,0,.2) 0.05rem);
  background-size: 1px 4px;
  z-index: 1;
  animation: scan 50s infinite,
              twitch 3s infinite;
}
